body {
     background-color:#161410;
     color:#999999;
     font-family:'Trebuchet MS',Tahoma,Arial,Helvetica,sans-serif;
     /*font-size:62.5%;*/
	 font-size:12px;
     font-size-adjust:none;
     font-stretch:normal;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     line-height:125%;
     margin:0pt;
     padding:0pt;

  scrollbar-arrow-color: #999999;
  scrollbar-track-color: #22201D;
  scrollbar-face-color: #363430;

  scrollbar-highlight-color: #999999;#999999;
  scrollbar-3dlight-color: #363430;
  scrollbar-darkshadow-color: #22201D; /*outer botom coner*/
  scrollbar-shadow-color:#363430;
}
#mainbody {
    #height:700px;
    width:800px;
    border:1px solid #363430;
}

.hr {
	background-color:#22201D;
	border:1px solid #363430;
	height:10px;
	margin:10px 0pt;
	width:758px;
}

a:link, a:visited, a:active {
    color:#D8D7D3;
    text-decoration:none;
}
a:hover {
    color:#FFFFFF;
    text-decoration:none;
}
#header {
	text-align:center;
}
#hmenu ul {
    background:#22201D none repeat scroll 0%;
    display:block;
    margin:1px 0pt;
    padding:4px 10px;
    height:24;
}
#hmenu ul li {
    background:#22201D none repeat scroll 0%;
    float:left;
    height:24px;
    line-height:2.4em;
    position:relative;
    text-align:center;
    width:92px;
    border:1px solid #363430;
}
#hmenu ul li a{
    height:24px;
    display: block;
    border:1px solid #363430;
    position: relative;  /* for IE-Win */
}
#hmenu ul li a:hover{
    height:24px;
    display: block;
    background: #999999;
}
#newspage {
    position: relative;
    border:1px solid #363430;
    width:512px;
}
#newspage ul{
  margin: 1px ;
  padding: 0px;

}
#newspage ul li{
    margin: 1px ;
    position: relative;
    display: block;
    #border:1px solid #363430;
    height:24px;

}
#newspage ul li a{
    background:#22201D none repeat scroll 0% 50%;
    height:24px;
    display: block;
}
#newspage ul li a:hover{
    height:24px;
    display: block;
    background: #999999;
}

#vmenu {
    float:left;
    position: relative;
    #border:1px solid #363430;
    height:100%;
    width:100px;
}
#vmenu ul{
    margin: 0px;
    padding: 0px;
    display: block;
    height:24px;
    width:92px;
}
#vmenu ul li{
    display: block;
    border:1px solid #363430;
    height:24px;
    width:92px;
}
#vmenu ul li a{
    background:#22201D none repeat scroll 0% 50%;
    height:24px;
    display: block;
    width:92px;
}
#vmenu ul li a:hover{
    height:24px;
    display: block;
    background: #999999;
    width:92px;
}
input{
    background-color:#161410;
    border:1px solid #363430;
    color:#9C9890;
    font-size:11px;
    padding:1px;
    height:20;
    text-decoration:none;
}
 textarea {
    background-color:#161410;
    border:1px solid #363430;
    color:#9C9890;
    font-size:11px;
    padding:1px;
    text-decoration:none;
}
table {
     background-color:#161410;
     color:#999999;
     font-family:'Trebuchet MS',Tahoma,Arial,Helvetica,sans-serif;
     font-size:12;
     font-size-adjust:none;
     font-stretch:normal;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     line-height:125%;
     margin:0pt;
     padding:0pt;
     border-collapse:collapse;
     #width:100%;
}

#s {
   width:160px;
}
#sidebar li, #akismetwrap {
    background:#22201D none repeat scroll 0%;
    display:block;
    margin:1px 0pt;
    padding:4px 10px;
}

ul {
   list-style-image:none;
   list-style-position:outside;
   list-style-type:none;
}
#footer {
        color:#999999;
        font-family:Georgia,'Times New Roman',serif;
		text-align:center;
}
#warper {
	border:1px solid #363430;
	width:100%;
	text-align:left;
    margin: 0px;
    padding: 0px;
    border:0;
}

a.pagenumber, label.pagenumber {
position: relative;
margin: 1px;
padding: 1px 1% 1px 1%;
background:#363430;
height:20;
width:30;
display:block;
float:left;
}
a:hover.pagenumber, label:hover.pagenumber {
position: relative;
margin: 1px;
padding: 1px 1% 1px 1%;
background:#D8D7D3;
height:20;
width:30;
display:block;
float:left;
}

#content{
    margin: 2px;
    padding: 2px 2% -5px 2%;
    width:680;
    height:650;
    border:1px solid #363430;
    #background:gray;
    overflow:auto;
}